<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="./sv" method="POST">
        <input type="text" name="hoten" />
        <input type="text" name="namsinh" />
        <input type="submit" name="Send" value="Send" />
    </form>

    <% if(typeof(thongbao)!= "undefined"){ %>
        <h3><%= thongbao %></h3>
    <% } %>

    <table width="500" border="1">
        <tr>
            <td>ID</td>
            <td>HOTEN</td>
            <td>NAMSINH</td>
        </tr>

        <% MangSV.forEach(function(sv){ %>
            <tr>
                    <td><%= sv._id %></td>
                    <td><%= sv.HoTen %></td>
                    <td><%= sv.NamSinh %></td>
            </tr>
        <% }); %>
        

    </table>
</body>
</html>